div#results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.bar {
    fill: #99ee99;
}

.bar:hover {
    fill: #147514;
}

div.tooltip {
    position: absolute;
    opacity: 0;
    font-size: 0.7em;
    z-index: 2;
    padding: 0.2em;
    background: rgba(255,255,255,0.7);
    border-radius: 3px;
    border: 1px solid black;
    pointer-events: none;
}

figure {
    position: relative;
    background-color: white;
}

.circle {
    fill: none;
    stroke: #999999;
    stroke-width: 3px;
}

.complexome-venn {
    fill: #e6b2b2;
    stroke: none;
}

.complexome-venn:hover {
    fill: #6c2323;
}

.intersection-venn {
    fill: #e0ba98;
    stroke: none;
}

.intersection-venn:hover {
    fill: #65401e;
}

.proteomics-venn {
    fill: #99cc99;
    stroke: none;
}

.proteomics-venn:hover {
    fill: #147514;
}

.venn-label {
    pointer-events: none;
}
