div#results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.bar {
    fill: #99ee99;
}

.bar:hover {
    fill: #147514;
}

div.tooltip {
    position: absolute;
    opacity: 0;
    font-size: 0.7em;
    z-index: 2;
    padding: 0.2em;
    background: rgba(255,255,255,0.7);
    border-radius: 3px;
    border: 1px solid black;
    pointer-events: none;
}

figure {
    position: relative;
    background-color: white;
}

.circle {
    fill: none;
    stroke: #999999;
    stroke-width: 3px;
}

.complexome-venn {
    fill: #e6b2b2;
    stroke: none;
}

.complexome-venn:hover {
    fill: #6c2323;
}

.intersection-venn {
    fill: #e0ba98;
    stroke: none;
}

.intersection-venn:hover {
    fill: #65401e;
}

.proteomics-venn {
    fill: #99cc99;
    stroke: none;
}

.proteomics-venn:hover {
    fill: #147514;
}

.venn-label {
    pointer-events: none;
}

form.app-parameters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0.5rem;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    width: 100%;
}

label.app-parameters-label {
    font-size: 0.7rem;
    margin-left: 0rem;
    margin-top: 0.7rem;
    display: block;
    transform: translateY(0rem);
}

div.data-table-container {
    flex-basis: 100%;
}

div.data-table-container table {
    width: 100%;
    overflow-x: scroll;
    border-collapse: collapse;
}

th {
    font-size: 0.8rem !important;
    padding: 3px !important;
    vertical-align: top;
    border: 1px solid hsla(0, 0%, 50%, .1);
}

td {
    font-size: 0.6rem !important;
    padding: 3px !important;
    vertical-align: top;
    border: 1px solid hsla(0, 0%, 50%, .1);
}

tbody > tr:hover {
    background-color: #e8e8e8;
}
